.add_btn{
    margin: 10px;
}
.erb_btn{
    background-color: orange;
    margin: 10px;
}
.risk_btn{
    background-color:orange;
    margin: 10px;
}
.final_btn{
    background-color: orange;
    margin: 10px;
}