
.container {
	/* max-width: 50%; */
	display: flex;
	flex-flow: row wrap
}

.tableRow {
	display: flex;
	flex-flow: row wrap;
}

.tableCol {
	/* display: inline-block; */
	flex-grow: 1 1 100%;
	padding: 1em;
	max-width: 40em;
}

.tableContainer {
	flex-grow: 1 1 100%;
	max-width: 35em;
	padding: 1em;
}
