
.title {
	text-align: center;
	margin-top: 1em;
	word-wrap: break-word;
	margin-left: 2em;
	margin-right: 2em;
}

.center {
	align-content: center;
	align-items: center;
	text-align: center;
}

.setupContentForm {
	width: 30em;
	padding: 1em 4em 0 4em;
}

.setupContentButton {
	margin: 0.8em;
	width: 7em;
}

.eventCheckbox {
	margin-bottom: 0.8em;
}
