.event_tree_view{
    text-align: auto;
    margin: auto;
    width: 20%;
    padding-top: 60px;
   }

   .h1{
     padding-top: 60px;
   }
   
   .h2{
    text-align: center;
    margin: center;

   }
   
   

  